<div class="overlay" *ngIf="!loaded">
  <div class="center">
    <mat-progress-spinner diameter=50 mode="indeterminate" color="accent">
    </mat-progress-spinner>
  </div>
</div>

<div class="container">
  <div class="row my-2">

    <div class="col-lg-2 order-lg-1 text-center">
      <img src="{{currentUser.profile}}" class="mx-auto img-fluid img-circle d-block" alt="avatar" id="OpenImgUpload">

      <label class="custom-file">
        <input type="file" id="imgupload" style="display:none" (change)="onFileSelected($event)" />
      </label>
    </div>

    <div class="col-lg-10 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#info" data-toggle="tab" class="nav-link active">{{'users.show.info' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#followers" data-toggle="tab" class="nav-link">{{currentUser.followers.length}}
            {{'users.show.followers' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#follows" data-toggle="tab" class="nav-link">{{currentUser.follows.length}}
            {{'users.show.follows' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#created" data-toggle="tab" class="nav-link">{{currentUser.createdRoutes.length}}
            {{'users.show.createdR' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#saved" data-toggle="tab" class="nav-link">{{currentUser.savedRoutes.length}}
            {{'users.show.savedR' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="this.currentUser.id == this.userService.getCurrentUserId()">
          <a href="" data-target="#notifications" data-toggle="tab"
            class="nav-link">{{'users.show.notifications' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="this.currentUser.id == this.userService.getCurrentUserId()">
          <a href="" data-target="#config" data-toggle="tab" class="nav-link">{{'users.show.config' | translate}}</a>
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="info">
          <h5 class="mb-3">Info</h5>
          <div class="row">
            <div class="col-md-12">
              <h6>{{'users.show.username' | translate}}</h6>
              <p>
                {{currentUser.username}}
              </p>
              <h6>Email</h6>
              <p>
                {{currentUser.email}}
              </p>
            </div>
            <div class="col-md-12">
              <h5 class="mt-2">{{'users.show.recent' | translate}}</h5>

              <table class="table table-sm table-hover table-striped" *ngIf="recentActivities.length > 0">
                <tbody *ngFor="let route of createdRoutes">
                  <tr>
                    <td>
                      <a [routerLink]="['/routes', route.id]" role="button"> {{route.name}} </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-sm table-hover table-striped" *ngIf="recentActivities.length == 0">
                <tbody>
                  <tr>
                    <td>
                      {{'users.show.noRecent' | translate}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--/row-->
        </div>

        <div class="tab-pane" id="followers">
          <table class="table table-sm table-hover table-striped">
            <tbody *ngFor="let follower of followers">
              <tr [routerLink]="['/users', follower.id]">
                <td>
                  <img src="{{follower.profile}}" class="rounded photoStyle">
                </td>

                <td>
                  <strong role="button">{{follower.username}}</strong>
                </td>

                <td>
                  <div *ngIf="this.currentUser.follows.includes(follower.id)">
                    <button class="btn btn-danger mr-1" (click)="this.userService.unfollow(follower)">
                      <i class="far fa-times-circle"></i>
                      {{'users.show.unfollow' | translate}}
                    </button>
                  </div>

                  <div *ngIf="!this.currentUser.follows.includes(follower.id)">
                    <button class="btn btn-success mr-1" (click)="this.userService.follow(follower)">
                      <i class="fa fa-plus"></i>
                      {{'users.show.follow' | translate}}
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="follows">
          <table class="table table-sm table-hover table-striped">
            <tbody *ngFor="let follow of follows">
              <tr [routerLink]="['/users', follow.id]">

                <td>
                  <img src="{{follow.profile}}" class="rounded photoStyle">
                </td>

                <td>
                  <strong role="button">{{follow.username}}</strong>
                </td>

                <td>
                  <div *ngIf="this.currentUser.follows.includes(follow.id)">
                    <button class="btn btn-danger mr-1" (click)="this.userService.unfollow(follow.id)">
                      <i class="far fa-times-circle"></i>
                      {{'users.show.unfollow' | translate}}
                    </button>
                  </div>

                  <div *ngIf="!this.currentUser.follows.includes(follow.id)">
                    <button class="btn btn-success mr-1" (click)="this.userService.follow(follow)">
                      <i class="fa fa-plus"></i>
                      {{'users.show.follow' | translate}}
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="created">
          <table class="table table-sm table-hover table-striped" *ngIf="currentUser.createdRoutes.length > 0">
            <tbody *ngFor="let route of createdRoutes">
              <tr>
                <td>
                  <a [routerLink]="['/routes', route.id]" role="button"> {{route.name}} </a>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-sm table-hover table-striped" *ngIf="currentUser.createdRoutes.length == 0">
            <tbody>
              <tr>
                <td>
                  {{'users.show.noCreated' | translate}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="saved">
          <table class="table table-sm table-hover table-striped" *ngIf="currentUser.savedRoutes.length > 0">
            <tbody *ngFor="let route of savedRoutes">
              <tr>
                <td>
                  <a [routerLink]="['/routes', route.id]" role="button"> {{route.name}} </a>
                </td>
                <td>
                  <a (click)="userService.save(route)" class="card-link" style="color: #28a745;"
                    *ngIf="!this.currentUser.savedRoutes.includes(route.id)">
                    <i class="fa fa-plus"></i>
                  </a>

                  <a (click)="userService.unsave(route)" class="card-link" style="color: #bd2130;"
                    *ngIf="this.currentUser.savedRoutes.includes(route.id)">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-sm table-hover table-striped" *ngIf="currentUser.savedRoutes.length == 0">
            <tbody>
              <tr>
                <td>
                  {{'users.show.noSaved' | translate}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="notifications">

          <table class="table table-hover table-striped" *ngIf="notifications.length == 0">
            <tbody>
              <tr>
                <td>
                  <span class="float-right font-weight-bold"></span>
                  {{'users.show.noNoti' | translate}}
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-hover table-striped" *ngIf="notifications.length > 0">
            <tbody *ngFor="let notification of notifications; let i = index">
              <tr>
                <td *ngIf="notification.seen == false">
                  <span class="float-right font-weight-bold" style="margin-left: 10px;"
                    (click)="removeNoti(i, notification)"><i class="fas fa-times"></i></span>

                  <span class="float-right font-weight-bold" style="margin-left: 10px;"
                    (click)="seeNoti(notification)"><i class="fas fa-eye"></i></span>

                  <strong>{{notification.content}}</strong>
                </td>

                <td *ngIf="notification.seen != false">
                  <span class="float-right font-weight-bold" style="margin-left: 10px;"
                    (click)="removeNoti(i, notification)"><i class="fas fa-times"></i></span>

                  {{notification.content}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="config">
          <mat-card>
            <mat-card-content>
              <h2 class="example-h2">{{'users.show.userConfig' | translate}}</h2>

              <section class="example-section">
                <button mdbBtn color="success" block="true" class="my-4" (click)="openEdit()"> <i
                    class="fas fa-pen"></i> {{'users.show.editPro' | translate}}</button>
              </section>

              <section class="example-section" *ngIf="currentUser.config.rol == 0">
                <button mdbBtn color="success" block="true" class="my-4" (click)="openModal()"> <i
                    class="fas fa-cog"></i> {{'users.show.adminUser' | translate}}</button>
              </section>

              <section class="example-section">
                <label id="example-radio-group-label">{{'users.show.select' | translate}}</label><br>
                <mat-radio-group name="languageList" aria-labelledby="example-radio-group-label"
                  class="example-radio-group" [(ngModel)]="config.lang">
                  <mat-radio-button class="example-radio-button" *ngFor="let language of languages"
                    [value]="language.id">
                    {{language.name}}
                  </mat-radio-button>

                </mat-radio-group>

                <button mdbBtn color="info" block="true" class="my-4" (click)="this.userService.saveConfig(config)"> <i
                    class="fas fa-save"></i> {{'users.show.save' | translate}}</button>
              </section>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
