<br>

<div class="row">
  <div class="col text-right" *ngIf="userService.getLogged()">
    <button class="btn btn-success mr-1" [routerLink]="['/users/add']">
      <i class="fa fa-plus"></i>
      Add User
    </button>
  </div>
</div>

<br>

<div class="row">
  <div class="card" style="width: 18rem;" *ngFor="let user of users">

    <div class="card-body">
      <h5 class="card-title">{{user.username}}</h5>
    </div>

    <div class="card-body">
      <a [routerLink]="['/users', user.id]" class="card-link">
        <i class="fa fa-eye"></i>
        See more
      </a>
    </div>
  </div>
</div>
