<form class="text-center border border-light p-5" [formGroup]="user" (ngSubmit)="onSubmit(user)">

  <p class="h4 mb-4">Add user</p>

  <div class="form-group col-12">
    <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image" autocomplete="off" />
  </div>

  <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="username"
    formControlName="username">

  <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="password"
    formControlName="password">

  <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="email" formControlName="email">

  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select matNativeControl [(ngModel)]="rol" [ngModelOptions]="{standalone: true}">
      <mat-option value="0">Admin</mat-option>
      <mat-option value="1">Moderator</mat-option>
      <mat-option value="2">User</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <button mdbBtn color="info" block="true" class="my-4" type="submit">Add</button>
</form>
