<section>
  <div class="row justify-content-center">

    <div class="col-12">
      <mat-card>
        <h1 class="text-center title"><strong>{{ 'home.title' | translate}} {{currentUser.username}} !</strong></h1>
      </mat-card>
    </div>

    <div class="col-8 text-center">

      <h3 class="text-center title"><strong>{{ 'home.tuto' | translate}}</strong></h3>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/gy4E7aTWtXo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <br><br><br>

    </div>

    <div class="col-5 text-center">

      <h3 class="text-center title"><strong>{{ 'home.valRoutes' | translate}}</strong></h3>

      <mat-list *ngFor="let route of routes; let i = index">
        <mat-list-item [routerLink]="['/routes', route.id]">
          <strong> {{i+1}} </strong> - {{route.name}} ({{route.rating.show}})
        </mat-list-item>
      </mat-list>

    </div>

    <div class="col-5 text-center" style="margin-left: 10px;">

      <h3 class="text-center title"><strong>{{ 'home.valLocalizations' | translate}}</strong></h3>

      <mat-list *ngFor="let localization of localizations; let i = index">
        <mat-list-item [routerLink]="['/localizations', localization.id]">
          <strong> {{i+1}} </strong> - {{localization.name}} ({{localization.likes.length}})
        </mat-list-item>
      </mat-list>

    </div>

  </div>
</section>
