<div class="center">
  <mat-progress-spinner *ngIf="!loaded" diameter=50 mode="indeterminate" color="accent">
  </mat-progress-spinner>
</div>

<div class="col text-right">
  <button class="btn btn-info mr-1" [routerLink]="['edit']">
    <i class="fa fa-pen"></i>
  </button>

  <button class="btn btn-danger mr-1" (click)="deleteLocalization(currentLocalization.id)">
    <i class="fa fa-trash"></i>
  </button>

  <!-- <ngx-imageviewer [src]="imageSrc"></ngx-imageviewer> -->

  <div id="mapid"></div>
</div>

<router-outlet></router-outlet>
