<mat-toolbar color="primary">
  <mat-nav-list>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine> (Main icon) </h3>
    </mat-list-item>

    <mat-list-item routerLink="home">
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine> {{ 'header.home' | translate}} </h3>
    </mat-list-item>

    <mat-list-item routerLink="routes">
      <mat-icon matListIcon>explore</mat-icon>
      <h3 matLine> {{ 'header.routes' | translate}} </h3>
    </mat-list-item>

    <mat-list-item routerLink="localizations">
      <mat-icon matListIcon>location_on</mat-icon>
      <h3 matLine> {{ 'header.localizations' | translate}} </h3>
    </mat-list-item>

    <mat-list-item routerLink="users">
      <mat-icon matListIcon>person</mat-icon>
      <h3 matLine> {{ 'header.users' | translate}} </h3>
    </mat-list-item>

    <mat-list-item (click)="openModal()">
      <mat-icon matListIcon *ngIf="notifications.length == 0">notifications_none</mat-icon>

      <mat-icon matListIcon [matBadge]="notifications.length" matBadgeColor="warn" *ngIf="notifications.length != 0">
        notifications</mat-icon>
      <h3 matLine>
        {{ 'header.notifications' | translate}} </h3>
    </mat-list-item>

    <mat-list-item routerLink="/users/{{currentUser.id}}">
      <mat-icon matListIcon>person</mat-icon>
      <h3 matLine>
        {{ 'header.profile' | translate}} </h3>
    </mat-list-item>

    <mat-list-item (click)="userService.logOut()">
      <mat-icon matListIcon>exit_to_app</mat-icon>
      <h3 matLine> {{ 'header.logout' | translate}} </h3>
    </mat-list-item>

  </mat-nav-list>
</mat-toolbar>
