<mat-toolbar color="primary">
  <mat-nav-list>

    <a mat-list-item routerLink="home" routerLinkActive="active-list-item">
      <mat-icon matListIcon>home</mat-icon>
      Home
    </a>

    <a mat-list-item routerLink="routes" routerLinkActive="active-list-item">
      <mat-icon matListIcon>explore</mat-icon>
      {{ 'header.routes' | translate }}
    </a>

    <a mat-list-item routerLink="localizations" routerLinkActive="active-list-item">
      <mat-icon matListIcon>location_on</mat-icon>
      {{ 'header.localizations' | translate }}
    </a>

    <a mat-list-item routerLinkActive="active-list-item" (click)="openModal()">
      <mat-icon matListIcon *ngIf="notifications.length == 0">notifications_none</mat-icon>

      <mat-icon matListIcon [matBadge]="notifications.length" matBadgeColor="warn" *ngIf="notifications.length != 0">
        notifications</mat-icon>

      {{ 'header.notifications' | translate }}
    </a>

    <a mat-list-item routerLink="/users/{{this.userService.getCurrentUserId()}}" routerLinkActive="active-list-item">
      <mat-icon matListIcon>person</mat-icon>
      {{ 'header.profile' | translate }}
    </a>

    <a mat-list-item routerLinkActive="active-list-item" (click)="userService.logOut()">
      <mat-icon matListIcon>exit_to_app</mat-icon>
      {{ 'header.logout' | translate}}
    </a>

  </mat-nav-list>
</mat-toolbar>
