mat-toolbar {
  height: 100%;
}

mat-icon {
  color: white;
}

a.mat-list-item {
  color: white;
}

a.active-list-item {
  border-radius: 25px;
  background-color: #003E80 !important;
}

h3 {
  color: white;
}

.position {
  font-size: 16px;
  margin-left: 15px;
}
