<br>

<div class="row">
  <div class="col text-right" *ngIf="userService.getLogged()">
    <button class="btn btn-success mr-1" [routerLink]="['/routes/add']">
      <i class="fa fa-plus"></i>
      Add Route
    </button>
  </div>
</div>

<br>

<mat-form-field>
  <input matInput class="form-field" [formControl]="nameFilter" placeholder="Name">
</mat-form-field>
<br />
<mat-form-field>
  <mat-label>Type</mat-label>
  <mat-select matNativeControl [formControl]="typeFilter">
    <mat-option value="" selected>All</mat-option>
    <mat-option value="0">Country</mat-option>
    <mat-option value="1">Region</mat-option>
    <mat-option value="2">City</mat-option>
  </mat-select>
</mat-form-field>
<br />

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name
    </th>
    <td mat-cell *matCellDef="let route"> {{route.name}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type
    </th>
    <td mat-cell *matCellDef="let route" [ngSwitch]="route.type">
    <p *ngSwitchCase="0">Country</p>  
    <p *ngSwitchCase="1">Region</p> 
    <p *ngSwitchCase="2">City</p> 
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<router-outlet></router-outlet>
