table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-column-position {
  max-width: 100px;
}

.mat-column-name {
  max-width: 100px;
}

.row {
  margin: 0;
}

.rowStyle {
  background-color: #e3e3e3;
  border-radius: 10px;
}

.col-md-12 {
  padding: 0;
}

.mat-form-field {
  width: 80%;
}

.mat-header-cell {
  width: 20%;
}
