<br>

<div class="row rowWitdh">
  <div class="col text-right" *ngIf="userService.getConfirmed()">
    <button class="btn btn-success mr-1" [routerLink]="['/routes/add']">
      <i class="fa fa-plus"></i>
      Add Route
    </button>

    <button class="btn btn-info mr-1" (click)="openModal()"
      *ngIf="userService.getAdmin() || userService.getModerator()">
      <i class="fas fa-check"></i>
      Check Unconfirmed Routes ({{this.routesUnconfirmed.length}})
    </button>
  </div>
</div>

<br>

<div class="row rowStyle">
  <div class="col text-left">
    <form class="example-form">
      <i class="fas fa-search" style="margin-right: 15px;"></i>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput class="form-field" [formControl]="nameFilter">
      </mat-form-field>
    </form>
  </div>

  <div class="col text-left">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select matNativeControl [formControl]="typeFilter">
        <mat-option value="" selected>All</mat-option>
        <mat-option value="0">Country</mat-option>
        <mat-option value="1">Region</mat-option>
        <mat-option value="2">City</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<br>

<div class="row rowWidth">
  <div class="col-md-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let route"> {{route.name}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let route" [ngSwitch]="route.type">
          <div *ngSwitchCase="0">Country</div>
          <div *ngSwitchCase="1">Region</div>
          <div *ngSwitchCase="2">City</div>
        </td>
      </ng-container>

      <!-- Rate Column -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Rating </th>
        <td mat-cell *matCellDef="let route" [ngSwitch]="route.rating.votes.length">

          <div *ngSwitchCase="0">
            <div>No votes</div>
            <ngb-rating [(rate)]="route.rating.show"
              (rateChange)="this.routeService.updateRouteRating(route, $event, this.userService.getCurrentUserId())">
            </ngb-rating>
          </div>

          <div *ngSwitchDefault>
            <div>{{route.rating.show | number : '1.1-2'}}</div>

            <ngb-rating *ngIf="route.rating.votes.includes(this.currentUser.id) || this.currentUser.id == route.id" [(rate)]="route.rating.show"
              [readonly]="true"
              (rateChange)="this.routeService.updateRouteRating(route, $event, this.userService.getCurrentUserId())">
            </ngb-rating>

            <ngb-rating *ngIf="!route.rating.votes.includes(this.currentUser.id)" [(rate)]="route.rating.show"
              (rateChange)="this.routeService.updateRouteRating(route, $event, this.userService.getCurrentUserId())">
            </ngb-rating>
          </div>

        </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let route">
          <a [routerLink]="['/users', route.userId]" class="card-link">
            {{searchName(route.id)}}
          </a>

          <div *ngIf="this.currentUser.follows.includes(route.userId) && this.currentUser.id != route.userId">
            <button class="btn btn-danger mr-1" (click)="this.userService.unfollow(searchUser(route.id))">
              <i class="far fa-times-circle"></i>
            </button>
          </div>

          <div *ngIf="!this.currentUser.follows.includes(route.userId) && this.currentUser.id != route.userId">
            <button class="btn btn-success mr-1" (click)="this.userService.follow(searchUser(route.id))">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let route">
          <a [routerLink]="['/routes', route.id]" class="card-link">
            <i class="fa fa-eye"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
