<div class="center">
  <mat-progress-spinner *ngIf="!loaded" diameter=50 mode="indeterminate" color="accent">
  </mat-progress-spinner>
</div>

<div class="col text-right">
  <button class="btn btn-info mr-1" [routerLink]="['edit']">
    <i class="fa fa-pen"></i>
  </button>

  <button class="btn btn-danger mr-1" (click)="deleteRoute(currentRoute.id)">
    <i class="fa fa-trash"></i>
  </button>
</div>

<p>{{currentRoute.name}}</p>
<div id="mapid"></div>

<div aria-labelledby="myModalLabel" class="modal right fade" id="emptymodal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<button mat-button id="modal" class="display:none" (click)="openModal()"></button>

<!-- <div *ngIf="this.currentUser.follows.includes(this.currentRoute.userId)">
  <button class="btn btn-danger mr-1" (click)="this.userService.unfollow(follow.id)">
    <i class="far fa-times-circle"></i>
    Unfollow
  </button>
</div>

<div *ngIf="!this.currentUser.follows.includes(this.currentRoute.userId)">
  <button class="btn btn-success mr-1" (click)="this.userService.follow(follow)">
    <i class="fa fa-plus"></i>
    Follow
  </button>
</div> -->

<router-outlet></router-outlet>
