<mat-card><h3>Unconfirmed Routes</h3></mat-card>

<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- See Column -->
  <ng-container matColumnDef="see">
    <th mat-header-cell *matHeaderCellDef> See </th>
    <td mat-cell *matCellDef="let element">
      <a (click)="this.dialogRef.close()" [routerLink]="['/routes', element.id]" class="card-link">
        <i class="fa fa-eye"></i>
      </a>
    </td>
  </ng-container>

  <!-- Check Column -->
  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef> Check </th>
    <td mat-cell *matCellDef="let element;">
      <a (click)="updateConfirmed(element)" class="card-link">
        <i class="fa fa-check"></i>
      </a>

      <a (click)="deleteConfirmed(element)" class="card-link">
        <i class="fa fa-trash"></i>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
