<div class="center">
  <mat-progress-spinner *ngIf="!loaded" diameter=50 mode="indeterminate" color="accent">
  </mat-progress-spinner>
</div>

<form class="text-center border border-light p-5" [formGroup]="route" (ngSubmit)="onSubmit(route)">

  <p class="h4 mb-4">{{type | titlecase}} route</p>

  <input type="text" id="defaultLoginFormName" class="form-control mb-4" placeholder="name" formControlName="name">

  <input type="number" id="defaultLoginFormType" class="form-control mb-4" placeholder="type" formControlName="type">

  <input type="number" id="defaultLoginFormTotalTime" class="form-control mb-4" placeholder="totalTime"
    formControlName="totalTime">

  <button mdbBtn color="info" block="true" class="my-4" type="submit">Update</button>
</form>
